.genre-tile{
    background-color:  rgb(209, 206, 206);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin: 20px 40px 20px 0;
   width:fit-content;
    box-shadow: 1px 5px 22px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 5px 22px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 5px 22px -1px rgba(0,0,0,0.75);
   

}
.genre-thumbnail{
    object-fit: cover;
  
    border-radius: 10px;
    height: 20vh;
    width: 20vw;
    filter: brightness(.8) contrast(1.2);

}
.genre-card{
    box-shadow: 1px 5px 22px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 22px -1px rgba(0,0,0,0.75);  
   padding: 20px;
   background-color:  hsl(240, 11%, 95%);
   border-radius: 10px;
}
.genre-name{
    color: #1362ac;
}
.explore-button{
    background-color: #3794eb;
  
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    display: inline-block;
 
}
.explore-button:hover{
    background-color: white;
    color: #171717;
    cursor: pointer;
}