h2{
    color:#1362ac;
    font-size: 4em;
}
h3{
    font-size: 5em;
    line-height: .5;
    color: black;
}
img{
    width: 40vw;
   

}
.grid{
 
        color: white;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

}
.container{
    margin: 40px 0;
}
.submit{
    border: none;
    background-color: #1362ac;
    color: black;
    font-size: 2em;
    padding: 20px;
    min-width: 10vw;
    border-radius: 10px;
}
.submit:hover{
    background-color: #3794eb;
    cursor: pointer;
}
.container-fixed{
 
    padding-right: 6vw;
}
.toSignInButton{
    background-color: #1362ac;
    color: black;
    padding: 20px;
    margin: 40px 0;
    border-radius: 10px;
}
.toSignInButton:hover{
    background-color: #3794eb;
    cursor: pointer;
}