*{

  
  font-weight: bold;
  font-family: 'Teko', sans-serif;
  margin: 0;
}
.App{
 
  background-color: #0a0a0a;
 
}

.website-title{
  color: white;

}
/* width */
::-webkit-scrollbar {
  width: 10px;
  padding: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a0a0a; 
  padding: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(28, 28, 28); 
  border-radius: 10px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e49012; 

}